.funny-glasses {
  position: relative;
  bottom: 108px;
  left: 212px;
}

.bandana {
  transform: rotate(30deg);
  position: relative;
  right: 143px;
  bottom: 65px;
}

.pawprint {
  width: 45px;
  top: 3em;
  position: fixed;
  left: 66px;
}

.stick-corgi {
  position: sticky;
  left: 0;
  top: 0;
}

.top-hat {
  z-index: 1;
}